{% extends '_base.twig' %}

{% block navigation %}
    {% include "__navigation.twig" with {'coffee': 'active'} %}
{% endblock %}

{% block title %}Coffee – {{ parent() }}{% endblock %}


{% block content %}
    <main class="main mt-4">
        <div class="container">
            <h1 class="text-uppercase">Coffee</h1>
            <p class="lead">We work with specialty coffee from current crops which is carefully roasted. Our coffee is fruity, juicy and never boring. We bring you the best from leading european specialty roasteries, currently mostly from <a href="https://shop.squaremilecoffee.com">Square Mile Coffee Roasters</a>, a multi award winning coffee roasting company based in East London.</p>
            <p>You can currently buy these beans in 350g bags.</p>
            <div class="card-deck">
                {% for coffee in coffees %}
                    {% if loop.index0%2 == 0 %}
                        <div class="w-100"></div>
                    {% endif %}
                    <div class="card border-0 mb-4" itemscope itemtype="http://ghc.jana.coreskill.tech/coffee">
                        <h2 itemprop="name" class="h3 card-header text-uppercase">{{ coffee.name }} ({{ coffee.origin }})</h2>
                        <img
                            itemprop='image'
                            class="card-img-top"
                            sizes="
                                (min-width: 1200px) 520px,
                                (min-width: 992px) 430px,
                                (min-width: 768px) 310px,
                                (min-width: 576px) 220px,
                                calc(100vw - 2*25)
                                "
                            srcset="
                            {% for imageSize in coffee.imageSizes %}
                                /img/{{ coffee.imageSlug }}{{ imageSize }}.jpg {{ imageSize }}w{% if not loop.last %},{% endif %}
                            {% endfor %}"
                            src="/img/{{ coffee.imageSlug }}{{coffee.imageSizes|last}}.jpg"
                            alt="">
                        <div class="card-body bg-light">
                            <p itemprop="description" class="font-italic">{{ coffee.tastes|join(" / ")|lower }}</p>
                            <p itemprop="description">{{ coffee.tastingNotes }}</p>
                            <p itemprop="price" class="h4 text-right font-weight-bold">£{{ coffee.price }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
