{% extends '_base.twig' %}

{% block navigation %}
    {% include "__navigation.twig" with {'coffee': 'active'} %}
{% endblock %}

{% block title %}Coffee – {{ parent() }}{% endblock %}


{% block content %}
<main class="main mt-4">
    <div class="container">
        <div>
            <h1 class="text-uppercase">Coffee</h1>
            <p class="lead">We work with specialty coffee from current crops which is carefully roasted. Our coffee is fruity, juicy and never boring. We bring you the best from leading european specialty roasteries, currently mostly from <a href="https://shop.squaremilecoffee.com">Square Mile Coffee Roasters</a>, a multi award winning coffee roasting company based in East London.</p>
            <p>You can currently buy these beans in 350g bags.</p>
        </div>
        <div class="row mr-0 ml-0">
            <div class="card-deck">
                {% for coffee in coffees %}
                    {% if loop.index0%2 == 0 %}
                        <div class="w-100"></div>
                    {% endif %}
                    <div class="card border-0 mb-4">
                        <h2 class="h3 card-header text-uppercase">{{ coffee.name }} ({{ coffee.origin }})</h2>
                        <img src="/img/{{ coffee.image }}" class="card-img-top" alt="">
                        <div class="card-body bg-light">
                            <p class="font-italic">{{ coffee.tastes|join(" / ")|lower }}</p>
                            <p>{{ coffee.tastingNotes }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
